html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {
	margin-top: 140px;
	padding: 0px;
	background: url(../images/wood_floor_background.jpg) no-repeat center center fixed;
}

section {
    padding: 140px 0;
}

table{
    border:solid #000 1px;
    /*background-image: url(../images/fundo_preto.jpg); */
	width:100%;
	padding:0;
	float: left;
}

table tr td{
	width:50px;
    min-width:50px;
	height:50px;
	border:1px solid black;
	text-align: center;
}

h1 {
    text-align: center;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.div-rodape {
	padding: 30px 0;
}

#vantagens .vantagens-item {
    right: 0;
    margin: 0 0 15px;
}

#vantagens .vantagens-item .vantagens-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#vantagens .vantagens-item .vantagens-link .vantagens-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#vantagens .vantagens-item .vantagens-link .vantagens-hover:hover {
    opacity: 1;
}

#vantagens .vantagens-item .vantagens-link .vantagens-hover .vantagens-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #4e81ff;
}

#vantagens .vantagens-item .vantagens-link .vantagens-hover .vantagens-hover-content i {
    margin-top: -12px;
}

#vantagens .vantagens-item .vantagens-link .vantagens-hover .vantagens-hover-content h3,
#vantagens .vantagens-item .vantagens-link .vantagens-hover .vantagens-hover-content h4 {
    margin: 0;
}

#vantagens .vantagens-item .vantagens-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #85adff 0%, #4e81ff 100%);
    background-image:      -o-linear-gradient(top, #85adff 0%, #4e81ff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#85adff), to(#4e81ff));
    background-image:         linear-gradient(to bottom, #85adff 0%, #4e81ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff85adff', endColorstr='#ff4e81ff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

#vantagens .vantagens-item .vantagens-caption h4 {
    margin: 0;
    text-transform: none;
}

#vantagens .vantagens-item .vantagens-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#vantagens * {
    z-index: 2;
}

@media(min-width:767px) {
    #vantagens .vantagens-item {
        margin: 0 0 30px;
    }
}

#videos .videos-item {
    right: 0;
    margin: 0 0 15px;
}

#videos .videos-item .videos-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#videos .videos-item .videos-link .videos-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#videos .videos-item .videos-link .videos-hover:hover {
    opacity: 1;
}

#videos .videos-item .videos-link .videos-hover .videos-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #4e81ff;
}

#videos .videos-item .videos-link .videos-hover .videos-hover-content i {
    margin-top: -12px;
}

#videos .videos-item .videos-link .videos-hover .videos-hover-content h3,
#videos .videos-item .videos-link .videos-hover .videos-hover-content h4 {
    margin: 0;
}

#videos .videos-item .videos-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #85adff 0%, #4e81ff 100%);
    background-image:      -o-linear-gradient(top, #85adff 0%, #4e81ff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#85adff), to(#4e81ff));
    background-image:         linear-gradient(to bottom, #85adff 0%, #4e81ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff85adff', endColorstr='#ff4e81ff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

#videos .videos-item .videos-caption h4 {
    margin: 0;
    text-transform: none;
}

#videos .videos-item .videos-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#videos * {
    z-index: 2;
}

@media(min-width:767px) {
    #videos .videos-item {
        margin: 0 0 30px;
    }
}

#trabalhos .trabalhos-item {
    right: 0;
    margin: 0 0 15px;
}

#trabalhos .trabalhos-item .trabalhos-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#trabalhos .trabalhos-item .trabalhos-link .trabalhos-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#trabalhos .trabalhos-item .trabalhos-link .trabalhos-hover:hover {
    opacity: 1;
}

#trabalhos .trabalhos-item .trabalhos-link .trabalhos-hover .trabalhos-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #4e81ff;
}

#trabalhos .trabalhos-item .trabalhos-link .trabalhos-hover .trabalhos-hover-content i {
    margin-top: -12px;
}

#trabalhos .trabalhos-item .trabalhos-link .trabalhos-hover .trabalhos-hover-content h3,
#trabalhos .trabalhos-item .trabalhos-link .trabalhos-hover .trabalhos-hover-content h4 {
    margin: 0;
}

#trabalhos .trabalhos-item .trabalhos-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #85adff 0%, #4e81ff 100%);
    background-image:      -o-linear-gradient(top, #85adff 0%, #4e81ff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#85adff), to(#4e81ff));
    background-image:         linear-gradient(to bottom, #85adff 0%, #4e81ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff85adff', endColorstr='#ff4e81ff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

#trabalhos .trabalhos-item .trabalhos-caption h4 {
    margin: 0;
    text-transform: none;
}

#trabalhos .trabalhos-item .trabalhos-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#trabalhos * {
    z-index: 2;
}

@media(min-width:767px) {
    #trabalhos .trabalhos-item {
        margin: 0 0 30px;
    }
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

/*
table tr:nth-child(even) td:nth-child(even) {
    background-color: #dedede; 
}

table tr:nth-child(odd) td:nth-child(odd) {
	background-color: #dedede;  
}
*/
/*
div.peca {
		width: 30px;
		height: 30px;
		margin:10px;
		-moz-border-radius:20px;
        -webkit-border-radius:20px;
        border-radius:20px;
}

div.azul {
	background-color: blue;
}

div.vermelha {
	background-color: red;
}
*/
/*
div#boxA, div#boxB{
	float: left;
	margin:0 20px;
	background: #EEE;
	border: 1px solid #CCC;
	height: 200px;
	width: 200px;
}
*/